[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
lxml = "*"
pymongo = "*"
dnspython = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
